<div class="foot">
<ul class="social">
	<li><a href="http://www.facebook.com" target="_blank">
        	<%= image_tag("facebook-icon.png")%>
   </a></li>
	<li><a href="https://twitter.com/" target="_blank">
		<%= image_tag("twitter-icon.png")%>
	</a></li>
	<li><a href="http://www.instagram.com" target="_blank">
		<%= image_tag("instagram.png")%>
	</a></li>
	<li><a href="https://github.com" target="_blank">
  	<%= image_tag("sharethis-icon.png")%>
	</a></li>
</ul>
</div>